#Written by V1Saver
#Wed Mar 25 14:14:17 CAT 2020
mclachlan.maze.ui.combat_delay=150
unlock.race.pasht=true
mclachlan.maze.auto.add.consumables=false
unlock.race.gnome=true
mclachlan.maze.ui.personality_chattiness=2
mclachlan.maze.music.volume=33
mclachlan.maze.current.tip.index=9
